## Programming Assignment_2
-------------

### 1. Write a Python program to convert kilometers to miles?
##### Sol.

In [3]:
kms = 20
miles  = kms / 1.609
print(kms, "kms = " , miles, "miles")

20 kms =  12.430080795525171 miles

### 2.Write a Python program to convert Celsius to Fahrenheit?
##### Sol.

In [5]:
celsius =  40
fahrenheit = (celsius * 1.8) + 32
print(celsius, "Celsius = ",fahrenheit, "Fahrenheit")

40 Celsius =  104.0 Fahrenheit

### 3. Write a Python program to display calendar?
##### Sol.

In [18]:
import calendar
print(calendar.calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

### 4. Write a Python program to solve quadratic equation?
##### Sol.

In [25]:
import cmath

a = int(input('Enter the coefficient a:'))
b = int(input('Enter the coefficient b:'))
c = int(input('Enter the coefficient c:'))

sol1 =  (-b + cmath.sqrt((b*b)-(4*a*c)))/2*a
sol2 =  (-b - cmath.sqrt((b*b)-(4*a*c)))/2*a

print('The solutions for quadratic equation ax^2 + bx + c is {0} and {1}'.format( sol1,sol2))

Enter the coefficient a: 1
Enter the coefficient b: 5
Enter the coefficient c: 6

The solutions for quadratic equation ax^2 + bx + c is (-2+0j) and (-3+0j)

### 5. Write a Python program to swap two variables without temp variable?
##### Sol.

In [29]:
var1 = 67
var2 = 387

print('Before Swapping: \nvar1: ', var1, 'var2:', var2)

var1 = var1 + var2
var2 = var1 - var2
var1 = var1 - var2

print('\n\nAfter Swapping: \nvar1: ', var1, 'var2:', var2)

Before Swapping:
var1:  67 var2: 387


After Swapping:
var1:  387 var2: 67